html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

*,
* ::before,
* ::after {
    box-sizing: border-box;
}

body {
    margin: 10px;
}

/* Buttons */

.btn {
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    padding: 0.5rem 4rem;
}

.btn--blue {
    color: white;
    background: #163764;
}

.btn--stretch {
    width: 100%;
}

/*Header*/



