html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

*,
* ::before,
* ::after {
    box-sizing: border-box;
}

/*Containers*/

.container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container--header-top {
    display:none;
    justify-content: space-between; 
    
}

.house {
    background: black;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/*Lists master changed*/

.top--header--left {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top--header--left > li {
    display: inline-block;
    font-size: 1.2rem;
    margin: 1rem;
}

.header3 {
    font-size: 1.4rem;
    font-weight:lighter;
    padding: 0 1rem;
    display: none;
}


 


/*Links*/

a {
    text-decoration: none;
    color: black;
}

.top--header--Personal {
    border-bottom: 3px solid #0812a0;
    font-weight: bold;
    font-size: 1.6rem;
}



/*Icons*/

.icon {
    width: 30px;
}

.icon--menu-mobile {
    padding-left: 0.8rem;
    padding-top: 0.5rem;
}

.icon--menu-search {
    display: none;
}


/*Images*/

.image--header  {
    width: 200px;
    padding-top: 0.5rem;
}

/*Typography*/

.font {
    font-family: 'Open Sans', sans-serif; 
}

.font--signOn {
    font-size: 1.2rem;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    white-space: nowrap;
    letter-spacing: 1px;
    text-decoration: none;
}

@media screen and (min-width:768px) {
.font--signOn {
    background: #0812a0;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    margin-right: 0.8rem;
    border: 0;
}

.container--signin {
    display: inline-flex;
    margin-right: 0.8rem;
}

.icon--menu-search {
    display: block;
    cursor: pointer;
}
}

@media screen and (min-width:990px) {
    .container--header-top {
        display: flex;
}
    .container--header {
        justify-content: left;
    }  

    .container--signin {
        display: none;
    }

    .icon--menu-mobile {
        display: none;
    }

    .header3 {
        display:flex
    }  

}

/* -- Body --*/

.body1 {
    height: 260px;
    background-image: url(../images/white-background.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.section--body1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.body1__cards {
    width: 100%;
}

.body1--image {
    max-width: 180px;
    align-self: center;
    margin-right: 5px;
}

.body1--header {
    max-width: 180px;
    text-align: justify;
    font-weight: bolder;
    margin-top: 28px;
    margin-left: 5px;
}

.body1__button {
    padding: 0.8rem 4rem;
    color: white;
    border-radius: 10px;
    background: #0812a0;
    border: 0;
    position: relative;
    top: 2rem;
    left: 6rem;
}