<div class="container__collapsible">
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="footer__h2">About</h2>
      <img class="chevron" src="images/chevron.svg" alt="" />
    </header>
    <div class="collapsible__content">
      <ul class="footer__list">
        <li>Our Company</li>
        <li>Social Impact</li>
        <li>Careers</li>
        <li>Investor Relations</li>
      </ul>
    </div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="footer__h2">Business Solutions</h2>
      <img class="chevron" src="images/chevron.svg" alt="" />
    </header>
    <div class="collapsible__content">
      <ul class="footer__list">
        <li>Corporate Finance</li>
        <li>Dealer Services</li>
        <li>Ally Ventures</li>
        <li>Ally Lending</li>
      </ul>
    </div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="footer__h2">Learn</h2>
      <img class="chevron" src="images/chevron.svg" alt="" />
    </header>
    <div class="collapsible__content">
      <ul class="footer__list">
        <li>Financial Life Tips & Tools</li>
        <li>Do It Right</li>
        <li>Wallet Wise</li>
      </ul>
    </div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="footer__h2">Resources</h2>
      <img class="chevron" src="images/chevron.svg" alt="" />
    </header>
    <div class="collapsible__content">
      <ul class="footer__list">
        <li>Contact</li>
        <li>Give Feedback</li>
        <li>ATM Locator</li>
        <li>Site Map</li>
      </ul>
    </div>
  </div>
</div>
<div class="footer__image__box">
  <img class="footer__image" src="images/WOLF BANK.png" alt="" />
</div>
<div class="container">
  <div class="container__footer__long">
    <div class="col-1">
      <img class="footer__image2" src="images/WOLF BANK.png" alt="" />
    </div>
    <div class="col col-2">
      <h2 class="footer__h2_2">About</h2>
      <ul class="footer__list2">
        <li>Contact</li>
        <li>Give Feedback</li>
        <li>ATM Locator</li>
        <li>Site Map</li>
      </ul>
    </div>
    <div class="col col-3">
      <h2 class="footer__h2_2">Business Solutions</h2>
      <ul class="footer__list2">
        <li>Corporate Finance</li>
        <li>Dealer Services</li>
        <li>Ally Ventures</li>
        <li>Ally Lending</li>
      </ul>
    </div>
    <div class="col col-4">
      <h2 class="footer__h2_2">Learn</h2>
      <ul class="footer__list2">
        <li>Financial Life Tips & Tools</li>
        <li>Do It Right</li>
        <li>Wallet Wise</li>
      </ul>
    </div>
    <div class="col col-5">
      <h2 class="footer__h2_2">Resources</h2>
      <ul class="footer__list2">
        <li>Contact</li>
        <li>Give Feedback</li>
        <li>ATM Locator</li>
        <li>Site Map</li>
      </ul>
    </div>
  </div>
</div>
