<div class="heroA">
  <div class="container">
    <div class="hero">
      <div class="title">
        <h1>Use WolfBank App to do all your trasactions</h1>
      </div>
      <div class="hero__content">
        <div class="hero__picture">
          <img class="hero__image" src="images/cellphone.jpg" alt="" />
        </div>
        <div class="hero__content2">
          <div class="hero__text">
            <p>
              Request a credit card, deposit checks, make transfers. Now you can
              do all your banking from your home.
            </p>
          </div>
          <div class="hero__button">
            <a href="#" class="hero__btn">Continue</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero">
      <div class="title">
        <h1>You can stay ahead of scammers</h1>
      </div>
      <div class="hero__content">
        <div class="hero__content2">
          <div class="hero__text">
            <p>Explore our guide to help you navigate away from fraud</p>
          </div>
          <div class="hero__button">
            <a href="#" class="hero__btn">Continue</a>
          </div>
        </div>
        <div class="hero__picture">
          <img class="hero__image" src="images/people.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero">
      <div class="title">
        <h1>Your free investment consultation is waiting</h1>
      </div>
      <div class="hero__content">
        <div class="hero__picture">
          <img class="hero__image" src="images/cellphone2.jpg" alt="" />
        </div>
        <div class="hero__content2">
          <div class="hero__text">
            <p>
              You're invited to set up a call with a Wolf Bank Advisor. See how
              personalized advice can help your investment goals on track.
            </p>
          </div>
          <div class="hero__button">
            <a href="#" class="hero__btn">Continue</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="heroB">
  <div class="container">
    <div class="hero">
      <div class="hero__content">
        <div class="hero__picture">
          <img class="hero__image diff" src="images/cellphone.jpg" alt="" />
        </div>
        <div class="hero__content2">
          <div class="title">
            <h1>Use WolfBank App to do all your trasactions</h1>
          </div>
          <div class="hero__text">
            <p>
              Request a credit card, deposit checks, make transfers. Now you can
              do all your banking from your home.
            </p>
          </div>
          <div class="hero__button">
            <a href="#" class="hero__btn">Continue</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero">
      <div class="hero__content">
        <div class="hero__content2">
          <div class="title">
            <h1>You can stay ahead of scammers</h1>
          </div>
          <div class="hero__text">
            <p>Explore our guide to help you navigate away from fraud</p>
          </div>
          <div class="hero__button">
            <a href="#" class="hero__btn">Continue</a>
          </div>
        </div>
        <div class="hero__picture">
          <img class="hero__image" src="images/people.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero">
      <div class="hero__content">
        <div class="hero__picture">
          <img class="hero__image" src="images/cellphone2.jpg" alt="" />
        </div>
        <div class="hero__content2">
          <div class="title">
            <h1>Your free investment consultation is waiting</h1>
          </div>
          <div class="hero__text">
            <p>
              You're invited to set up a call with a Wolf Bank Advisor. See how
              personalized advice can help your investment goals on track.
            </p>
          </div>
          <div class="hero__button">
            <a href="#" class="hero__btn">Continue</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
